<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css" />

</head>
<body>

<div class='topnav'>
  <a href='/'>Home</a>
  <a href='/database/data'>Show all data</a>
  <a  href='/database/data/upload'>Upload a JSON file</a>
  <a href='/database/data/search'>Search database</a>
    <a href='create'>Create new Data</a>
    <a class='active' href='delete'>Delete data</a>
</div>

  <form action='' method='post' id='datadeleteform'>
    <input name='dataid' id='dataid' type='hidden'>
    <input type='submit' value='Delete selected'>
  </form>

<button onclick='checkAll()'>Select all</button>


  <div id='dataSpace'></div>
<ol id='dataOrderedList'>
</ol>


  <script>

const dataList = <%- JSON.stringify(data_list) %>;
const dataSpace = document.getElementById('dataOrderedList');

  for(let i = 0;i < dataList.length; i++){
    const li = document.createElement('li');
    li.setAttribute('id', 'exampleItem'+i);
    let divContents = '';

    if(dataList[i]['context']){
      divContents += '<p><i>'+dataList[i]['context']+'</i><p>'
    }
    divContents += `<table class='exampleTable' id='exampleTable${i}' onclick='selectFunction(${i})' ><tr>`
    if (!dataList[i]['judgment'] === ''){
    divContents += `<td rowspan='2' valign='top'>${dataList[i]['judgment']}</td>`
    }
    const textArray = dataList[i]['text'].split(' ');
    for(let j = 0; j < textArray.length; j++){
      divContents += "<td >"+textArray[j]+"</td>";
    }
    divContents += "</tr><tr>"
    for(let k = 0; k < dataList[i]['gloss'].length; k++){
      divContents += "<td>"+dataList[i]['gloss'][k]+"</td>";
    }
    divContents += `</tr></table>`
    divContents += "<p>"+ dataList[i]['trans'] +'</p>';
//    divContents += "</tr></table>";
    //divContents += `<div id='metadataDiv${i}' class='metadataDiv'>
    divContents += `
          <button id='showMetadataDivButton${i}'onclick='showMetadata(${i})' class='metadataButton'>Show metadata </button>
      `
      divContents +=       `<div  style="display: none" class='metadataItem' id='metadataSource${i}'>
            ${dataList[i]['notes'] ? 'Notes: '+dataList[i]['notes'] + '<br>' : '' }
            ${(!dataList[i]['tags'] === []) ? 'Tags: '+dataList[i]['tags']+ '<br>' : '' }
            ${dataList[i]['source'] ? 'Source: '+dataList[i]['source']+ '<br>' : '' }
            ${dataList[i]['ref'] ? 'Reference: '+dataList[i]['ref']+ '<br>' : '' }
            ${dataList[i]['lang'] ? 'Language: '+dataList[i]['']+ '<br>' : '' }
            </div><br><br>`

  //    </div>
  //    <button id='showMetadataDivButton${i}'onclick='showMetadata(${i})'>Show metadata </button>
  //    <br><br>`
    li.innerHTML = divContents;
    dataSpace.appendChild(li);
    }


function showMetadata(i){
  const source = document.getElementById(`metadataSource${i}`);
  if (source.style.display === 'none'){
    source.style.display = 'block';
    document.getElementById(`showMetadataDivButton${i}`).innerHTML = 'Hide metadata';
  }
  else if (source.style.display === 'block'){
    source.style.display = 'none'
    document.getElementById(`showMetadataDivButton${i}`).innerHTML = 'Show metadata';
  }
}

      let toDeleteList = [];
function selectFunction(i){
  const exampleItem = document.getElementById('exampleItem'+i);
  if (exampleItem.style['background-color'] === 'yellow'){
      exampleItem.setAttribute('style', 'background-color:white')
               if (toDeleteList.includes(dataList[i]['_id'])){
                const idIndex = toDeleteList.indexOf(dataList[i]['_id']);
                toDeleteList.splice(idIndex, 1);
                document.getElementById('dataid').setAttribute('value', toDeleteList);
                    document.getElementById('test').innerHTML = toDeleteList;

              }
      }
       else {
  exampleItem.setAttribute('style', 'background-color:yellow');
  if (!toDeleteList.includes(dataList[i]['_id'])) {
    toDeleteList.push(dataList[i]['_id']).toString();
    document.getElementById('dataid').setAttribute('value', toDeleteList);
    document.getElementById('test').innerHTML = toDeleteList;
  }
};
};













let checkVal = false;

function checkAll(){
  if (checkVal === false){
  for (let i= 0; i < dataList.length; i++){
  const checkbox = document.getElementById('exampleItem'+i);
  checkbox.setAttribute('style', 'background-color:yellow');
  if (!toDeleteList.includes(dataList[i]['_id'])){
    toDeleteList.push(dataList[i]['_id']).toString();
    document.getElementById('dataid').setAttribute('value', toDeleteList);
  };
  };
  checkVal = true;
  document.getElementById('test').innerHTML = toDeleteList;
} else {
  for (let i= 0; i < dataList.length; i++){
  let checkbox = document.getElementById('exampleItem'+i);
  checkbox.setAttribute('style', 'background-color:white');
    if (toDeleteList.includes(dataList[i]['_id'])){
      let idIndex = toDeleteList.indexOf(dataList[i]['_id']);
      toDeleteList.splice(idIndex, 1);
      document.getElementById('dataid').setAttribute('value', toDeleteList);
    };
  };
  checkVal = false;
      document.getElementById('test').innerHTML = toDeleteList;
}
}




  </script>















</body>
</html>
