<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css" />
</head>
<body>

<div class='topnav'>
  <a href='/'>Home</a>
  <a href='/database/data'>Show all data</a>
  <a class='active' href='/database/data/upload'>Upload a JSON file</a>
  <a href='/database/data/search'>Search database</a>
    <a href='create'>Create new data</a>
    <a href='delete'>Delete data</a>
</div>



  <h1> <%= title %> </h1>


<div id='output'> </div>



<form id='data_form' action='' method='post'>
<input type='file' id='data_file'>
  <button type='button' onclick='readFile()'>Upload</button>
</form>


<script>



function readFile() {
    let file = document.getElementById('data_file').files[0];
      let reader = new FileReader();
      reader.readAsText(file);
      reader.onload = function() {
        const datalist = JSON.parse(reader.result);
        let formText = "<form action='' method='post'><ol>";
                formText += `<input type='hidden' name='length' value='${datalist['sentences'].length}'></p>${datalist['sentences'].length} examples to add</p>`  ;
        for (let i = 0; i < datalist['sentences'].length; i++){
          const context = datalist["sentences"][i]["context"] ? datalist["sentences"][i]["context"] : '';
          const judgment = datalist["sentences"][i]["judgment"] ? datalist["sentences"][i]["judgment"] : '';
          const text = datalist["sentences"][i]["text"] ? datalist["sentences"][i]["text"] : '';
          const gloss = datalist["sentences"][i]["gloss"] ? datalist["sentences"][i]["gloss"] : '';
          const trans = datalist["sentences"][i]["trans"] ? datalist["sentences"][i]["trans"].replace(/\"/g,"'") : '';
          const notes = datalist["sentences"][i]["notes"] ? datalist["sentences"][i]["notes"].replace(/\"/g,"'") : '';
          const tags = datalist["sentences"][i]["tags"] ? datalist["sentences"][i]["tags"] : '';
          const source = datalist["source"] ? datalist["source"] : '';
          const ref = datalist["sentences"][i]["ref"] ? datalist["sentences"][i]["ref"] : '';
          const lang = datalist["sentences"][i]["lang"] ? datalist["sentences"][i]["lang"] : '';
        formText += `<li><input type='text' placeholder='No context' style='width: 500px;'  name='context${i}' value='${context}'><br>`;
        formText += `<input type='text' name='judgment${i}' style='width: 20px;' value='${judgment}'>`
        formText += `<input type='text' name='text${i}' style='width: 475px;' value='${text}'><br>`;
        formText += `<input type='text'style='width: 500px;' placeholder='No gloss' name='gloss${i}' value='${gloss}'><br>`;
        formText += `<input type='text' style='width: 500px;' placeholder='No translation' name='trans${i}' value="`
        formText += trans;
        formText += `"><br>`;
        formText += `<input type='text'  style='width: 500px;' placeholder='No notes' name='notes${i}' value="${notes}"><br>`;
        formText += `<input type='text' style='width: 500px;' placeholder='No tags' name='tags${i}' value='${tags}'><br>`;
        formText += `<input type='text' style='width: 500px;' placeholder='No source' name='source${i}' value='${source}'><br>`;
        formText += `<input type='text' style='width: 500px;' placeholder='No ref' name='ref${i}' value='${ref}'><br>`;
        formText += `<input type='text'  style='width: 500px;' placeholder='No lang' name='lang${i}' value='${lang}'><br><br>`;
      }
        formText += "</ol><input type='submit' value='Submit'></form>";


        document.getElementById('output').innerHTML = formText;
  };
  reader.onerror = function() {
    document.getElementById('output').innerHTML = reader.error;
  };
};




//const form = document.getElementById('data_form');
//form.addEventListener('submit', handleFormSubmit);


</script>











</body>
</html>
