<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css" />
</head>
<body>

<div class='topnav'>
  <a href='/'>Home</a>
  <a  href='/database/data'>Show all data</a>
  <a href='/database/data/upload'>Upload a JSON file</a>
  <a  href='/database/data/search'>Search database</a>
  <a class='active' href='data/create'>Create new data</a>
  <a  href='/database/data/delete'>Delete data</a>
</div>

<h1> <%= title %> </h1>
<form action='' method='post' id='newDataForm'>
  <input type='text' placeholder='Judgment' onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px'" name='judgment' id='judgment'/><br>
  <input type='text' placeholder='Context' onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px'" name='context' id='context'/><br>
    <input type='text' placeholder='Text' onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px'" name='text' id='text' oninput='populateGloss()'/>
  <div id='morph_space'></div>
      <input type='hidden' name='morph' id='morph' value='test asdf'/><br>
      <input type='hidden' name='gloss' id='gloss' value='test asdf'/><br>
      <input type='text' placeholder='Translation' onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px'" name='trans' id='trans' /><br>
      <input type='text' placeholder='Notes' onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px'" name='notes' id='notes' /><br>
      <input type='text' placeholder='Tags' onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px'" name='tags' id='tags' /><br>
      <input type='text' placeholder='Source' onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px'" name='source' id='source' /><br>
      <input type='text' placeholder='Reference' onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px'" name='ref' id='ref' /><br>
      <input type='text' placeholder='Language' onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px'" name='lang' id='lang' /><br>
    <input type='submit' value='Submit'>
</form>


<script>

//This takes the string entered in the text field, splits it into an array,
//and calls autoPopulateGloss function to fill the morphSpace div.
function populateGloss(){
  let text = document.getElementById('text').value;
  let textArray = text.trim().split(' ');
  const morphSpace = document.getElementById('morph_space');
  const content = autoPopulateGloss(textArray);
morphSpace.innerHTML = content;
}

//This takes the array from populateGloss, calls makeRequest to retreieve the gloss
//suggestions, and then returns a value to put in the morphSpace div.
function autoPopulateGloss(textArray){
  let morphSpaceContent = '<table><tr>';
  let glossSpaceContent = '</tr><tr>'
  let glossSuggestionContent = '</tr><tr>'
  for (let i = 0; i < textArray.length;i++){
    morphSpaceContent += `<td><span class="input" id='morph_span_${i}' role="textbox" oninput='morphChangeInput(${i})' contenteditable> ${textArray[i]}</span></td>`;
    glossSpaceContent += `<td><span class="input" id='gloss_span_${i}' role="textbox" contenteditable></span></td>`;
    makeRequest(textArray[i]).then(res => formatGlossResults(res,i)).then(resList => {document.getElementById(`glossSuggestion${i}`).innerHTML = resList});
    glossSuggestionContent += `<td><p id='glossSuggestion${i}'>here</p></td>`
  }
  morphSpaceContent += glossSpaceContent;
  morphSpaceContent += glossSuggestionContent;
  morphSpaceContent += '</tr></table>';
  return morphSpaceContent

}

//when the morph cell is changed, the gloss suggestions are updated to
function morphChangeInput(x){
  let input = document.getElementById(`morph_span_${x}`).innerHTML
  makeRequest(input).then(res => formatGlossResults(res,x)).then(resList => {document.getElementById(`glossSuggestion${x}`).innerHTML = resList});
}


//changes the gloss suggestion results from the server to an HTML readable format
function formatGlossResults (gloss,x) {
  let resList = '';
    for (let j = 0; j < JSON.parse(gloss).lexRes.length; j++) {
    resList += `<input type='button' id='gloss_suggestion_${x}_${j}' value='${JSON.parse(gloss).lexRes[j].gloss}' onclick="addGloss('${x}','${j}')"><br>`;
    if (j === 0 ){
        document.getElementById(`gloss_span_${x}`).innerHTML = JSON.parse(gloss).lexRes[j].gloss;
    }
  }
  return resList
}

//on clicking a suggested gloss, the corresponding gloss cell autopopulates with the
//selected value
function addGloss(x,j){
  const selectedGlossSuggestion = document.getElementById(`gloss_suggestion_${x}_${j}`).value;
  document.getElementById(`gloss_span_${x}`).innerHTML = selectedGlossSuggestion;
}






//upon submitting the new data, this prevents the default submission, reformats the
//data, and then submits the reformatted version.
document.getElementById("newDataForm").addEventListener("submit", function(event){
  event.preventDefault()
  const textLength = document.getElementById('text').value.split(' ').length;
  let glossValue = '';
  let morphValue = '';
  for (let i = 0; i < textLength; i++){
    glossValue += document.getElementById(`gloss_span_${i}`).innerHTML+',';
    morphValue += document.getElementById(`morph_span_${i}`).innerHTML+',';
  }
  document.getElementById('morph').setAttribute('value',morphValue);
    document.getElementById('gloss').setAttribute('value',glossValue);
  document.getElementById("newDataForm").submit()
});



//requests gloss suggestions from the server
const makeRequest = function (url, method){
  const request = new XMLHttpRequest();
  return new Promise(function (resolve, reject) {
    request.onreadystatechange = function () {
      if (request.readyState !== 4) return;
      if (request.status >= 200 && request.status < 300){
        resolve(request.response);
      } else {

        reject({
          status: request.status,
          statusText: request.statusText
        });
      }
    }
    request.open(method || 'GET', 'http://localhost:3000/database/lexicon/'+url, true);
    request.send();
  })
}


</script>

<p>+++++++++++++++++++++++++++</p>




<% if(data_list){ %>
<h2> Added data </h2>


<table>
  <tr>
    <td rowspan=6 style="vertical-align:top">
      <%= data_list['judgment'] %>
    </td>
    <% for (let j = 0 ; j < data_list['text'].split(' ').length; j++){%>
      <td>
      <%= data_list['text'].split(' ')[j] %>
      </td>
    <% }  %>
  </tr>
  <tr>
    <% for (let k = 0 ; k < data_list['gloss'].length ; k++ ) {%>
      <td>
        <%= data_list['gloss'][k] %>
      </td>
    <% } %>
  </tr>
  <tr>
    <td colspan=100>
      <%= data_list['trans']  %>
    </td>
  </tr>
</table>
<%}%>

</body>
</html>
