<!DOCTYPE html>

<html>
<head>
<% console.log('test') %>
  <% const Lang = lang %>

  <script>
    const language = <%- JSON.stringify(Lang) %>
  </script>

    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css" />
    <script type="text/javascript" src="../../javascripts/dataCreation.js"></script>

</head>
<body onload='findLangs()'>

  <header>
    <%- include("./partials/topnav") %>
  </header>


<h1> <%= title %> </h1>
<form action='' method='post' id='newDataForm'>
      <label for="text" class='input_label'>Text:
        <span class="tooltiptext">
          Indicate coreference with curly brackets:<br>
          <ul>
          <li><i>She{i} saw her{j/*i}</i><br>
          </ul>
          Delineate an infix with angled bracket:<br>
          <ul>
          <li><i>abso&lt;fucking&gt;lutely</i><br>
          </ul>
        </span></label>
      <input type='text' placeholder='Text' style="width: 800px;" name='text' id='text' oninput='populateGloss()'/>
  <div id='morph_space'></div>
      <label for="trans" class='input_label'>Translation:
        <span class="tooltiptext">
          Free translation<br>
          Indicate coreference with curly brackets:<br>
          <ul>
          <li><i>She{i} saw her{j/*i}</i><br>
          </ul>
        </span></label>
      <input type='text' placeholder='Translation'  style="width: 800px;" name='trans' id='trans' /><br>
      <label for="judgment" class='input_label'>Judgment:
        <span class="tooltiptext">
          Grammaticality judgements<br>
          *: ungrammatical<br>
          ?: questionable<br>
          ??: very questionable<br>
          %: acceptable in some dialects<br>
          #: contextually anomolous<br>
        </span></label>
      <input type='text' placeholder='Judgment' style="width: 800px;" name='judgment' id='judgment'/><br>
      <label for="context" class='input_label'>Context:<span class="tooltiptext">Tooltip text</span></label>
      <input type='text' placeholder='Context' style="width: 800px;" name='context' id='context'/><br>
      <label for="notes" class='input_label'>Notes:<span class="tooltiptext">Tooltip text</span></label>
      <input type='text' placeholder='Notes' style="width: 800px;" name='notes' id='notes' /><br>
      <label for="tags" class='input_label'>Tags:<span class="tooltiptext">Tooltip text</span></label>
      <input type='text' placeholder='Tags' style="width: 800px;" name='tags' id='tags' /><br>
      <label for="source" class='input_label'>Source:<span class="tooltiptext">Tooltip text</span></label>
      <input type='text' placeholder='Source' style="width: 800px;" name='source' id='source' /><br>
      <label for="ref" class='input_label'>Reference:<span class="tooltiptext">Tooltip text</span></label>
      <input type='text' placeholder='Reference' style="width: 800px;" name='ref' id='ref' /><br>
      <label for="lang" class='input_label'>Language:<span class="tooltiptext">Tooltip text</span></label>
      <input type='text' placeholder='Language' style="width: 800px;" name='lang' id='lang' /><br>
      <div id='langAutoPopulate'></div>
      <input type='hidden' name='morph' id='morph' value=''/><br>
      <input type='hidden' name='gloss' id='gloss' value=''/><br>
    <input type='submit' value='Submit'>
</form>






<script>


  //upon submitting the new data, this prevents the default submission, reformats the
  //data, and then submits the reformatted version.
  document.getElementById("newDataForm").addEventListener("submit", function(event){
    document.getElementById('comments').innerHTML += "submit event prevented<br>"
    event.preventDefault()
    let text = document.getElementById('text').value.trim();
    document.getElementById('comments').innerHTML += 'text element: ' + text + "<br>"
    text = text.replace('<','&lt;').replace('>','&gt;')
    document.getElementById('comments').innerHTML += 'text element, char replcement: ' + text + "<br>"
    const textLength = text.split(' ').length;
    document.getElementById('comments').innerHTML += 'Text length'+ textLength + "<br>"
    document.getElementById('comments').innerHTML += '0:' + text.split(' ')[0]+ "<br>"
    document.getElementById('comments').innerHTML += '2:' +text.split(' ')[1]+ "<br>"
    document.getElementById('comments').innerHTML += '3:' +text.split(' ')[2]+ "<br>"
    document.getElementById('comments').innerHTML += '4:' +text.split(' ')[3]+ "<br>"
    document.getElementById('comments').innerHTML += '5:' +text.split(' ')[4] + "<br>"
    document.getElementById('comments').innerHTML += '6:' +text.split(' ')[5] + "<br>"

      let glossValue = '';
      let morphValue = '';

    for (let i = 0; i < textLength; i++){
            document.getElementById('comments').innerHTML += 'formatting element ' + i + "<br>"
      if (document.getElementById(`gloss_span_${i}_td`).innerHTML.includes('<table')){
              document.getElementById('comments').innerHTML += 'element is morphologically complex ' + "<br>"
        const morphItem = document.getElementById(`morph_span_${i}`).innerHTML;
            document.getElementById('comments').innerHTML += 'corresponding morph element: ' + morphItem + "<br>"
        const morphItemSubArray = morphItem.replace(/&lt;/,'').split(/[-~=\/]|&gt;/);
                document.getElementById('comments').innerHTML += 'split morph item: ' + morphItemSubArray + "<br>"
        const sepArray = [...morphItem.matchAll(/[-~=\/]|&gt;/g)];
                document.getElementById('comments').innerHTML += 'morph item seperators: ' + sepArray + "<br>"
        for (let j = 0 ; j < morphItemSubArray.length-1 ; j++){
          glossValue += document.getElementById(`gloss_span_${i}_${j}`).innerHTML
          document.getElementById('comments').innerHTML += 'gloss value: ' + glossValue + "<br>"
            glossValue += sepArray[j];
          document.getElementById('comments').innerHTML += 'gloss value: ' + glossValue + "<br>"
        }
        glossValue += document.getElementById(`gloss_span_${i}_${morphItemSubArray.length-1}`).innerHTML + ',';
        document.getElementById('comments').innerHTML += 'gloss value: ' + glossValue + "<br>"
      } else{
                  document.getElementById('comments').innerHTML += 'element is morphologically simplex' +"<br>"
        glossValue += document.getElementById(`gloss_span_${i}`).innerHTML+',';
        document.getElementById('comments').innerHTML += 'gloss value: ' + glossValue + "<br>"
      }
      morphValue += document.getElementById(`morph_span_${i}`).innerHTML.replace('&lt;','').replace('&gt;','>')+',';

  document.getElementById('comments').innerHTML += 'morph value: ' + morphValue + "<br>"
    }
    document.getElementById('morph').setAttribute('value',morphValue);
    document.getElementById('gloss').setAttribute('value',glossValue);
   document.getElementById("newDataForm").submit()
  });
</script>


<p>+++++++++++++++++++++++++++</p>


<% if(message){ %>
<h2> <%= message %> </h2>
<% } %>


<% if(data_list){ %>
<table>
  <tr>
    <td rowspan=6 style="vertical-align:top">
      <%= data_list['judgment'] %>
    </td>
    <% for (let j = 0 ; j < data_list['text'].split(' ').length; j++){%>
      <td>
      <%= data_list['text'].split(' ')[j] %>
      </td>
    <% }  %>
  </tr>
  <tr>
    <% for (let k = 0 ; k < data_list['gloss'].length ; k++ ) {%>
      <td>
        <%= data_list['gloss'][k] %>
      </td>
    <% } %>
  </tr>

  <tr>
    <td colspan=100>
      "<%= data_list['trans']  %>"
    </td>
  </tr>

  <% if (data_list['context']) { %>
    <tr>
      <td colspan=100>
        <i><%= data_list['context']  %></i>
      </td>
    </tr>
  <% } %>

  <% if (data_list['notes']) { %>
    <tr>
      <td colspan=100>
        <%= data_list['notes']  %>
      </td>
    </tr>
  <% } %>

  <% if (data_list['tags']) { %>
    <tr>
      <td colspan=100>
        <%= data_list['tags']  %>
      </td>
    </tr>
  <% } %>

  <% if (data_list['source']) { %>
    <tr>
      <td colspan=100>
        <%= data_list['source']  %>
      </td>
    </tr>
  <% } %>

  <% if (data_list['ref']) { %>
    <tr>
      <td colspan=100>
        <%= data_list['ref']  %>
      </td>
    </tr>
  <% } %>

  <tr>
    <td colspan=100>
      <%= data_list['lang']  %>
    </td>
  </tr>
</table>
<%}%>


<div id='comments'></div>
<footer>
  <%- include("./partials/footer.ejs") %>
</footer>
</body>
</html>
