<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css" />

</head>
<body>
  <header>
    <%- include("./partials/topnav") %>
  </header>

  <div>
    <h3>Journal article</h3>
    <form method='POST' action='/'><br>
    <input type='text' placeholder='author(s)'><br>
    <input type='text' placeholder='article title'><br>
    <input type='text' placeholder='journal title'><br>
    <input type='text' placeholder='volume'><br>
    <input type='text' placeholder='year'><br>
    <input type='text' placeholder='number'><br>
    <input type='text' placeholder='pages'><br>
    <input type='submit' value='submit'>
    </form>
  </div>

<div>
  <h3>Conference Proceedings</h3>
  <form method='POST' action='/'><br>
  <input type='text' placeholder='author(s)'><br>
  <input type='text' placeholder='title of talk'><br>
  <input type='text' placeholder='name of proceedings'><br>
  <input type ='text' placeholder='conference location'><br>
  <input type='text' placeholder='year'><br>
  <input type='text' placeholder='publisher'><br>
  <input type='text' placeholder='volume'><br>
  <input type='text' placeholder='number'><br>
  <input type='text' placeholder='pages'><br>
  <input type='submit' value='submit'>
  </form>
</div>

<div>
  <h3>Website</h3>
</div>

<div>
  <h3>Handout/Conference presentation/Abstract</h3>
  <form method='POST' action='/'><br>
  <input type='text' placeholder='author(s)'><br>
  <input type='text' placeholder='title of talk'><br>
  <input type='text' placeholder='name of conference'><br>
  <input type='text' placeholder='year'><br>
  <input type='text' placeholder='location'><br>
  <input type="text" placeholder='url'><br>
  <input type='submit' value='submit'>
  </form>
</div>


<div>
  <h3>Unpublished Manuscript</h3>
  <form method='POST' action='/'><br>
  <input type='text' placeholder='author(s)'><br>
  <input type='text' placeholder='year'><br>
  <input type='text' placeholder='url'><br>
  <input type='submit' value='submit'>
  </form>
</div>

<div>
  <h3>Thesis or Dissertation</h3>
  <form method='POST' action='/'><br>
  <input type='text' placeholder='author(s)'><br>
  <input type='text' placeholder='year'><br>
  <input type='text' placeholder='title'><br>
  <input type='text' placeholder='degree type'><br>
  <input type='text' placeholder='institution'><br>
  <input type='text' placeholder='url'><br>
  <input type='submit' value='submit'>
  </form>
</div>


<div>
  <h3>Book</h3>
  <form method='POST' action='/'><br>
  <input type='text' placeholder='author(s)'><br>
  <input type='text' placeholder='year'><br>
  <input type='text' placeholder='title'><br>
  <input type='text' placeholder='publisher'><br>
  <input type='text' placeholder='location of publication'><br>
  <input type='text' placeholder='series'><br>
  <input type='text' placeholder='volume'><br>
  <input type='submit' value='submit'>
  </form>
</div>

<div>
  <h3>Whole Edited Collection</h3>
  <form method='POST' action='/'><br>
  <input type='text' placeholder='editor(s)'><br>
  <input type='text' placeholder='year'><br>
  <input type='text' placeholder='title of book'><br>
  <input type='text' placeholder='publisher'><br>
  <input type='text' placeholder='location of publication'><br>
  <input type='text' placeholder='series'><br>
  <input type='text' placeholder='volume'><br>
  <input type='submit' value='submit'>
</div>

<div>
  <h3>Chapter in an Edited Collection</h3>
  <form method='POST' action='/'><br>
  <input type='text' placeholder='author(s)'><br>
  <input type='text' placeholder='year'><br>
  <input type='text' placeholder='title of chapter'><br>
  <input type='text' placeholder='editor(s)'><br>
  <input type='text' placeholder='title of edited collection'><br>
  <input type='text' placeholder='publisher'><br>
  <input type='text' placeholder='location of publication'><br>
  <input type='text' placeholder='series'><br>
  <input type='text' placeholder='volume'><br>
  <input type='text' placeholder='pages'><br>
  <input type='submit' value='submit'>
</div>





  <footer>
    <%- include("./partials/footer.ejs") %>
  </footer>
  </body>
  </html>
