html {background-color: white
}

body {
  padding: 20px;
  font: 14px "Times New Roman", Times, serif;
  color: black;
}

a {
  color: #00B7FF;
}

.exampleTable{
  cursor: pointer
}

.metadataItem{
  color : #525252;
}
.metadataButton {
  background-color: gray ;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  font: 14px "Times New Roman", Times, serif;
}



/*background color for topnav*/
.topnav {
  background-color: black;
  overflow: hidden;
}

/*style links inside navbar*/
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: gray;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #C32C1F;
  color: white;
}




.input,
.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width: 100%;
  left: 0;
}


.sidebar_tabs{
  margin: 20px;
  padding: 14px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  position: fixed;
  height: 20px;
  overflow: hidden;
  right: 0px;
  border-radius: 10px;
  color: black;
}

#sidebar_tabs_0 {
  background-color: #e80805;
  top: 8px;
}

#sidebar_tabs_1 {
  background-color: #f5a02a;
  top: 55px;
}

#sidebar_tabs_2 {
  background-color:	#e8e005;
  top: 103px;
}

#sidebar_tabs_3 {
  background-color: #05e83a;
  top: 150px;
}

#sidebar_tabs_4 {
  background-color: 	#0586e8;
  top: 197px;
}

.sidebar {
  margin: 20px;
  padding: 14px;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow: auto;
  right: 0px;
  top: 8px;
  display: none;
  color: black;
}

#searchdiv{
  background-color : #ffd7d6
}
#changediv{
  background-color: #ffd499
}
#exportdiv{
  background-color: #faf7b1
}
#deletediv{
  background-color: #dbeb8a
}
#uploaddiv{
  background-color : #aed6f5
}


.flash_error {
  background-color: #fc8d95;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  margin: 10px 0px;
}

#footer{
    bottom:0;
    color: gray;
    font-size: 10px;
  }



.input_label{
    position: relative;
  width:70px;
display:inline-block;
box-sizing:border-box;
text-align:right;
}


.input_label .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 180%;
  margin-left: -50px;
}

.input_label:hover .tooltiptext {
  visibility: visible;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
